.our-team-section
.about-us-content
.about-us-missions
  p
    color #8f8f8f
    font 400 16px/24px 'Helvetica Neue'

  h3
  h4
    margin: 0
    font 500 22px 'Avenir'
    text-transform uppercase
    color #5f5b5b

  h4
    font-size 18px

.our-team-section
.about-us-content
  text-align center
  p
    @media (min-width: 1199px)
      width 60%
      display inline-block

.about-us-missions
  margin: 5% 0 2% 0
  padding-top: 5%
  border-top 1px solid #c2c2c2

  p
    padding-right: 20px

  .col-md-4:nth-child(2)
    @media (min-width: 1199px)
      padding-left 0
      padding-right 0

  .col-md-4:first-child
    @media (min-width: 1199px)
      padding-left 0

  .col-md-4:last-child
    @media (min-width: 1199px)
      padding-right 0

.our-team-section
  background-color #efefef
  padding 4% 0




