footer
  background-color: #333333
  color #9b9999

.site-info
  border-top 1px solid #808080
  padding-top 2%
  padding-bottom 1%

.copyrights
.site-privacy-info
  font 500 12px Avenir
  text-transform uppercase

  a
    color #808080
    text-decoration none
    &:hover
      color white

.site-privacy-info
  text-align right
  @media (max-width: 992px)
    text-align left
    margin-top: 1%

.nav>li>a:focus
.nav>li>a:hover
  background-color: transparent

#footer-menu
  margin-left: 5px
  li
    position relative
    float none
    &:before
      content ""
      height 10px
      width 7px
      background: url('http://dev-deliver-hw.pantheonsite.io/wp-content/uploads/2017/03/bullet.png') no-repeat
      background-size cover
      position absolute
      z-index 2
      left 0
      top 25%

    a
      padding 0 0 0 15px
      color #9b9999

      &:hover
        color white

.footer-title
  color white
  margin-bottom: 4%
  @media (max-width: 1199px)
    margin 1% 0

.footer-inner
  padding: 3% 0

.footer-contact-info
  p
    padding-right: 35%

.footer-contact-info-phone
  font 500 16px Avenir

.footer-about-section
  padding-top: 1%
  p
    margin-top: 6%

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover
  background-color: transparent

.dropdown-menu
  background-color: #686868
  border 1x solid white
  border-radius 4px
  padding-left 10px
  left 100%

