.site-header-inner
  padding: 2% 15px
  border-bottom: solid #cccccc 1px

.navbar
  display: flex
  align-items center
  margin: 0
  background-color: transparent
  border none
  padding: 0

  &-collapse
    padding: 0

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover
  background-color transparent !important
  color #87b672

.navbar-default .navbar-nav li a,
.post .page-title
.widget-title
.footer-title
  color #666262
  padding: 0
  font 500 18px Avenir
  text-transform uppercase
  margin-top: 0


  a
    color #666262
    text-decoration none
    &:hover
      color #87b672

.navbar-default .navbar-nav li
  margin-right 40px

.page-main-title
  margin-bottom: 3%
  background: url("http://localhost:8888/deliver/wp-content/uploads/2017/03/img.png") no-repeat
  background-size cover
  padding-top 1%
  h1
    text-transform uppercase
    margin: 0
    color #fefefe
    font 600 36px Avenir

