.post
  border-bottom 1px solid #cccccc
  padding-bottom: 5%
  margin-bottom: 6%

.post-meta
  text-transform: uppercase
  list-style none
  padding 0
  margin: 2% 0 1% 0
  font 500 14px Avenir

  li,
  a
    display: inline-block
    color #9b9999
    text-decoration: none
    background-color: #efefef

  li
    padding: 10px
    margin-right: 5px
    margin-bottom: 10px

    i
      margin-right: 8px
      font-size 13px

.feature-image
  margin-bottom: 2%

.blog-pagination
  margin: 10% 0 5% 0
  .next,
  .prev
    display none

  .page-numbers
    padding: 7px 15px
    font 500 18px Avenir
    color #666262
    &:hover
      background-color: #87b672
      text-decoration none

  .current
    background-color: #87b672




