.widget-title
  margin-top: 0


.widget .nav li
  color #9b9999

.widget .nav li a
  display inline-block
  color #9b9999
  padding: 0
  &:hover
    background-color: transparent
    color: #6b9442

.widget_recent_entries .nav li
  padding: 8px 0
  border-bottom 1px solid #cccccc

  &:last-child
    border-bottom none

